@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~@syncfusion/ej2/dist/styles/material.css"; */
/* @import "~@syncfusion/ej2-react/dist/styles/material.css"; */

:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    background-color: #ffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
