@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    background-color: #ffff;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.border-radius {
  border-radius: 10px;
}
